<!-- 新增菜单弹出框 -->
<meta charset="utf-8">
<div class="modal fade" id="announceManageDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增公告</h4>
            </div>
            <form id="addMenuForm" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="">公告平台</label>
                                <select class="form-control" ng-model="menuModel.menuGrade" name="menuGrade">
                                    <option value="">-- 请选择 --</option>
                                    <option ng-repeat="m in menuGradeList" value="{{m.value}}">{{m.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>标题</label>
                                <input class="form-control" ng-model="menuModel.menuUrl" name="menuUrl"/>
                            </div>
                            <div class="form-group">
                                <label>起始日期</label>
                                <div class="input-group">
                                    <input class="form-control date-picker" id="announceDialogStart" type="text" data-date-format="yyyy-mm-dd">
                                    <span class="input-group-addon">
                                        <i class="icon-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>结束日期</label>
                                <div class="input-group">
                                    <input class="form-control date-picker" id="announceDialogEnd" type="text" data-date-format="yyyy-mm-dd">
                                    <span class="input-group-addon">
                                        <i class="icon-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                        </div><!-- /span -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    //日期空间初始化
    $("#announceDialogStart").datepicker({ todayHighlight: true,autoclose:true });
    $("#announceDialogEnd").datepicker({ todayHighlight: true,autoclose:true });
</script>
